{% extends "base.html" %}
{% block title %}Youv'e logged in {% endblock %}

{% block content %}
<p class="second">Crude oil is mainly used as a fuel and combustible, but is also indispensable as a chemical raw material. It is the foundation of modern life and in virtually every product around us – from smartphones and vehicle parts to wind turbines.<br>
</p>
<p class="second">Crude oil is one of the world's most important commodities and its price can have ripple effects through the broader economy. Rising oil prices mean higher gasoline prices at the pump, higher shipping costs, and increased input costs for producers.
</p>
<p class="second"><b>Here you can know about forecasting of crude oil price</b></p>

<style>
    
    .design{
        color: brown;
        font-size: medium;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-display: solid;
    }
    .second{
        color: rgb(104, 26, 39);
        font-size: large;
        padding-top: 4%;
        padding-left: 2%;
        padding-right: 2%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-display: solid;
        align-items: center;
        justify-content: center;
    }
</style>

{% endblock %}